@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --cor-primaria: #42C2FF;
    --cor-secundaria: #317EE8;
    --cor-terciaria: #31DEE8;
    --cor-light: #F5F5F5;
    --cor-dark: #19282F;
}

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,*::before{
    box-sizing: inherit;
}

.bus-icon{
    width: 33%;
}

.ticket-generation-form{
    background-color: var(--cor-light);
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    padding: 2%;
}

.input-field {
    border:none;
    margin:32px 16px; /*vertical e horizontal */ 
    font-size: 16px;
}

.generation-button{
    padding: 16px;
    width: 60%;
    margin: 16px auto 0 auto;
    border-radius: 10px;
    cursor: pointer;
}