@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --cor-primaria: #42c2ff;
  --cor-secundaria: #317ee8;
  --cor-terciaria: #31dee8;
  --cor-light: #f5f5f5;
  --cor-yellow: #f7d91a;
  --cor-dark: #19282f;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a:visited {
  color: var(--cor-primaria);
}

.container {
  padding: 20px;
}

body {
  background-color: var(--cor-light);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
}

.ticket-icon {
  width: 200px;
}

main .container {
  flex-direction: column;
  gap: 50px;
}

.ticket-generation-form {
  backdrop-filter: brightness(97%);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 12px;
}

.input-field {
  border: none;
  margin: 6px 0 12px; /*vertical e horizontal */
  font-size: 16px;
  padding: 12px;
  border-radius: 6px;
}

.input-field::placeholder {
  opacity: 0.4;
}

.input-field:focus-visible {
  outline-color: var(--cor-secundaria);
}

.input-label {
  font-size: 12px;
}

.generation-button {
  padding: 16px;
  width: 60%;
  margin: 16px auto 0 auto;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.generation-button:hover {
  background-color: var(--cor-secundaria);
}

nav {
  background-color: var(--cor-secundaria);
  height: 95px;
}

nav .container {
  justify-content: space-between;
  gap: 16px;
}

nav ul {
  justify-content: end !important;
  gap: 12px;
  width: 100%;
}

.tg-btn {
  background-color: var(--cor-yellow);
  width: 100px;
  height: 30px;
  color: var(--cor-dark);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

.tg-btn:hover {
  background-color: var(--cor-dark);
  color: var(--cor-light);
}

/* RESPONSIVIDADE */
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .ticket-generation-form {
    width: 70%;
  }
}
